
@{
    ViewData["Title"] = "Home";
}

<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0" style="font-size:100px;font-weight:normal; color: #4b71da">Utah Car Safety</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Approach -->
            <div class="card shadow mb-4" style="height: 27.25rem;">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Overview</h3>
                </div>
                <div class="card-body">
                    <h6>
                        Despite the many efforts of the Utah Safety Council to help Utah drivers stay safe, <strong>motor vehicle crashes are still a leading cause of injury-related death</strong>.
                        These tragedies are tearing apart families and ending lives prematurely. We must make a collective effort to reduce this impact on our state.
                    </h6>
                    <h6>
                        Wrong way crashes, in particular, are on the rise and have been increasing significantly over the last several years. We must bring more awareness to
                        Utah residents about the importance of always driving safely. <strong>A car crash can drastically change lives in seconds</strong>.
                    </h6>
                    <h6 class="mb-1">
                        This site is meant to educate users about these horrific crashes through compelling story telling and careful data analysis. <strong>
                            Please share this site with your
                            loved ones and other regulators
                        </strong>. Use this site to educate yourself and others about safe driving principles and about the deadly habits specific to Utah
                        drivers that lead to so many fatalities.
                    </h6>
                </div>
            </div>
        </div>


        <div class="col-lg-6 mb-4">
            <!-- Crash Picture -->
            <div class="card shadow mb-4" style="height: 27.25rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 70rem;"
                             src="~/img/undraw_by_my_car_ttge.svg" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!--Wrong Way Crashes1 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Wrong Way Crashes (Mainly Caused by DUI's)</h6>
                    <p class="m-0 font-weight-normal text-primary">Statewide Epidemic</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        "I still can't get out of my head the smells that were on scene of the radiator fluid and the gas and the blood," one state trooper said.
                        "I can't tell you how impactful these crashes are." In just one weekend, there were 4 fatal wrong way car crashes. This has become a huge problem in Utah.
                        Most of these are caused by DUI's and distracted driving.
                    </h4>
                    <br />
                    <img src="~/img/puzzled.jpeg" width="464" height="261" />
                    <br /><br />
                    <img src="~/img/dui.jpeg" width="464" height="261" />

                </div>
            </div>

            <!--Lane Merge Gone Wrong Crashes -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lane Merge Gone Wrong, Rollover, Off of Roadway</h6>
                    <p class="m-0 font-weight-normal text-primary">March 2, 2022</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        A trooper had pulled over a semi for a move over violation and was conducting a passenger-side approach.
                        Another semi was approaching the stopped vehicles and tried to make a lane change from the right lane to the left lane.
                        However, there was another passenger vehicle already in the left lane and the semi struck that vehicle. After the impact, the
                        semi rolled and soon became engulfed in flames after striking the trooper car and the stopped semi. Most people were uninjured or suffered only minor injuries.
                        The people in the passenger vehicle suffered moderate to severe injuries. Please make sure you always check before changing lanes.
                    </h4>
                    <br />
                    <iframe width="464" height="261" src="https://www.youtube.com/embed/HCKx1vkOhn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br />
                    <img src="~/img/TruckRoll1.png" width="464" height="261" />
                    <br /><br />
                    <img src="~/img/TruckRoll2.png" width="464" height="280" />
                </div>
            </div>

            <!--Teen Involved Crash -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Teen Involved Crash</h6>
                    <p class="m-0 font-weight-normal text-primary">April 2, 2022</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        Five teens were involved in a rollover crash. We do not know the cause of the crash, but one was pronounced dead at the scene. The rest were injured and rushed to hospitals.
                        One of those teens died in the hospital. Please be careful, teenagers!
                    </h4>
                    <br />
                    <img src="~/img/teenRoll.jpeg" width="464" />
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <!--Wrong Way Crashes -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Wrong Way Crash</h6>
                    <p class="m-0 font-weight-normal text-primary">March 12, 2022</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        Just before 5 a.m. a car was traveling the wrong direction on I-15 and collided with another vehicle.
                        Both drivers died as a result of the crash. There were no passengers in either vehicle. This was the 4th fatal wrong way
                        crash of 2022. This is a serious problem as wrong way crashes are becoming more common in Utah. Let's work together
                        to prevent these at all costs. The cause of this wrong way crash has not been determined, but please be sure to
                        not drive drowsy, avoid driving distracted, and stay alert.
                    </h4>
                    <br />
                    <img src="~/img/wrongWayCrash.jpeg" width="464" height="261" />
                </div>
            </div>

            <!-- Single Car Crash -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Single Car Crash</h6>
                    <p class="m-0 font-weight-normal text-primary">April 4, 2022</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        In this single car rollover, the driver was going way too fast when trying to turn and rolled their car
                        as a result. This resulted in a fatal accident for him. Please watch your speeds and make sure you are driving
                        without distraction or other impairments.
                    </h4>
                    <br />
                    <img src="~/img/singleRoll.jpeg" width="464" height="261" />
                    <br /><br />
                    <img src="~/img/singleRollSkid.jpeg" width="464" height="261" />
                </div>
            </div>

            <!-- Pedestrian Involved Crash -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pedestrian Involved Crash</h6>
                    <p class="m-0 font-weight-normal text-primary">Janurary 22, 2022</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        A pedestrian was killed when struck by a semi pulling three trailers. The pedestrian's car was found a quarter mile away and is believed to
                        have run out of fuel. The pedestrian was walking with a skateboard in hand and a phone with a GPS directing him to the exit. He was struck in a travel lane.
                        Please be careful, pedestrians. Always be alert and aware and give other cars and trucks a wide berth.
                    </h4>
                    <br />
                    <img src="~/img/pedestrian.jpeg" width="464" height="261" />
                </div>
            </div>

            <!-- Skater Involved Crash -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Skater Involved Crash</h6>
                    <p class="m-0 font-weight-normal text-primary">August 6, 2019</p>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        A teenage skateboarder was skating down the Squaw Peak mountain road at high speeds and drifted too far into opposing traffic. He sustained
                        major injuries and probably broke both legs above the knee. Officials advised people to follow the rules of the road such as speed limits
                        and correct lanes no matter their mode of transportation. Be very careful when on scooters or skateboards. Many fatal crashes result from these types of crashes.
                    </h4>
                    <br />
                    <img src="~/img/Skateboard.jpeg" width="464" height="261" />
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
